html, body {
  height: 100%;
}

.container {
  min-width: 100vw !important;
  margin: 0;
  min-height:100%;
  position:relative;
  padding: 0 !important;
}

body {
  background-color: #f1f1f1 !important;
}

/* header */

.header {
  background-color: #fff;
  height: 70px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.search-bar {
  text-align: center;
}

.search-bar input {
  width: 75%;
}
